{% extends 'daydays/arite/base_index.html' %}
{% load highlight %}


{% block body %}
    <div style="margin: 10px 5px">
        <p style="height: 40px;line-height: 30px;font-size: 16px;padding: 4px 5px" class="list-group-item active">
            搜索结果:</p></div>
    {% if query %}
        {% for result in page.object_list %}
            <ul class="goods_type_list clearfix">
                <li>
                    <article class="post post-{{ result.object.pk }}">
                        <a href="{% url 'article:detail' result.object.pk %}"><img
                                src="{{ result.object.image.url }}"></a>
                        <h4>
                            <a href="{% url 'article:detail' result.object.pk %}">{% highlight result.object.aname with query %}</a>
                        </h4>
                        <div class="operate">
                            <span class="prize">￥{{ result.object.gprice }}元</span>
                            <span class="unit">{{ result.object.gunit }}</span>
                        </div>
                    </article>
                </li>
            </ul>
        {% empty %}
            <div class="no-post">没有搜索到你想要的结果！</div>
        {% endfor %}
    {% else %}
        <p style="margin: 8px 4px"> 请输入搜索关键词，例如 Django </p>
    {% endif %}
    <div class="pagination">
        {% if is_paginated %}
            {% if page_obj.has_previous %}
                <a href="?page={{ page_obj.previous_page_number }}">上一页</a>
            {% endif %}
            {% for i in page_range %}
                {% if page_obj.number == i %}
                    <a class="active" href="?page={{ i }}">{{ i }}</a>
                {% else %}
                    <a href="?page={{ i }}">{{ i }}</a>
                {% endif %}
            {% endfor %}
            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">下一页</a>
            {% endif %}
        {% endif %}
    </div>
{% endblock body %}