{% load static %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>{% block title %}京东生鲜-商品详情{% endblock title %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/reset.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <link rel="shortcut icon" href="{% static 'images/jd.ico' %}">
    <script type="text/javascript" src="{% static 'js/jquery-1.12.4.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery-ui.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/slide.js' %}"></script>
    <style>
        span.highlighted {
            color: red;
        }
    </style>
</head>
<body>
<div class="header_con">
    <div class="header">
        <div class="welcome fl">欢迎来到京东生鲜!</div>
        <div class="fr">
            {% if request.session.username == None %}
                <div class="login_btn fl">
                    <a href="{% url 'daydays:login' %}">登录</a>
                    <span>|</span>
                    <a href="{% url 'daydays:register' %}">注册</a>
                </div>
            {% else %}
                <div class="login_btn fl">
                    欢迎您：<a>{{ request.session.username }}</a>
                    <span>|</span>
                    <a href="{% url 'daydays:outlogin' %}">退出</a>
                </div>
            {% endif %}
            <div class="user_link fl">
                {% if request.session.username == None %}
                    <span>|</span>
                    <a href="{% url 'daydays:login' %}">用户中心</a>
                {% else %}
                    <span>|</span>
                    <a href="{% url 'daydays:user_center_info' %}">用户中心</a>
                {% endif %}
                {% if request.session.username == None %}
                    <span>|</span>
                    <a href="{% url 'daydays:login' %}">我的购物车</a>
                {% else %}
                    <span>|</span>
                    <a href="{% url 'others:cart' %}">我的购物车</a>
                {% endif %}
                {% if request.session.username == None %}
                    <span>|</span>
                    <a href="{% url 'daydays:login' %}">我的订单</a>
                {% else %}
                    <span>|</span>
                    <a href="{% url 'daydays:user_center_order' %}">我的订单</a>
                {% endif %}
            </div>
        </div>
    </div>
</div>

<div class="search_bar clearfix">
    <a href="{% url 'article:index' %}" class="logo fl"><img src="{% static 'images/mod_header_logo.png' %}"></a>
    <div class="search_con fl">
        <form role="search" method="get" id="searchform" action="{% url 'haystack_search' %}">
            <input type="text" class="input_text fl" name="q" placeholder="搜索商品">
            <input type="submit" class="input_btn fr" name="" value="搜索">
        </form>
    </div>
    <div class="guest_cart fr">
        <a href="{% url 'others:cart' %}" class="cart_name fl">我的购物车</a>
        <div class="goods_count fl" id="show_count">1</div>
    </div>
</div>

{% block body %}

{% endblock body %}
<div class="footer">
    <div class="foot_link">
        <a href="#">关于我们</a>
        <span>|</span>
        <a href="#">联系我们</a>
        <span>|</span>
        <a href="#">招聘人才</a>
        <span>|</span>
        <a href="#">友情链接</a>
    </div>
    <p>CopyRight © 2016 北京天天生鲜信息技术有限公司 All Rights Reserved</p>
    <p>电话：010-****888 京ICP备*******8号</p>
</div>
<div class="add_jump"></div>

<script type="text/javascript" src="{% static 'js/jquery-1.12.2.js' %}"></script>
<script type="text/javascript" src="{% static 'js/cart.js' %}"></script>

</body>
</html>