{% extends 'daydays/arite/base_index.html' %}
{% load static %}

{% block title %}天天生鲜-首页{% endblock title %}

{% block body %}
    <div class="navbar_con">
        <div class="navbar">
            <h1 class="fl" href="{% url 'article:list' %}">全部商品分类</h1>
            <ul class="navlist fl">
                <li><a href="">首页</a></li>
                <li class="interval">|</li>
                <li><a href="">手机生鲜</a></li>
                <li class="interval">|</li>
                <li><a href="">抽奖</a></li>
            </ul>
        </div>
    </div>
    <div class="center_con clearfix">
        <ul class="subnav fl">
            {% for i in tags %}
                <li><a href="{% url 'article:list' %}" class="fruit">{{ i }}</a></li>
            {% endfor %}
        </ul>
        <div class="slide fl">
            <ul class="slide_pics">
                {% for i in artics1 %}
                    <li><a href="{% url 'article:detail' i.pk %}"><img src="{{ i.bigImage.url }} " width="760px"
                                                                     height="270px" alt="幻灯片"></a></li>
                {% endfor %}
            </ul>
            <div class="prev"></div>
            <div class="next"></div>
            <ul class="points"></ul>
        </div>
        <div class="adv fl">
            <a href="#"><img src="{% static 'images/adv01.jpg' %}"></a>
            <a href="#"><img src="{% static 'images/adv02.jpg' %}"></a>
        </div>
    </div>
    {% for tag in tags1 %}
        <div class="list_model">
            <div class="list_title clearfix">
                <h3 class="fl" id="model01">{{ tag.title }}</h3>
                <div class="subtitle fl">
                    <span>|</span>
                    <a href="#">鲜芒</a>
                    <a href="#">加州提子</a>
                    <a href="#">亚马逊牛油果</a>
                </div>
                <a href="#" class="goods_more fr" id="fruit_more">查看更多 ></a>
            </div>

            <div class="goods_con clearfix">
                <div class="goods_banner fl"><img src="{{ tag.image.url }}"></div>
                <ul class="goods_list fl">
                    {% for artic in artics1 %}
                        <li>
                            <h4><a href="{% url 'article:detail' artic.pk %}">{{ artic.aname }}</a></h4>
                            <a href="{% url 'article:detail' artic.pk %}"><img src="{{ artic.image.url }}"></a>
                            <div class="prize">{{ artic.gprice }}</div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    {% endfor %}
    {% for tag in tags2 %}
        <div class="list_model">
            <div class="list_title clearfix">
                <h3 class="fl" id="model01">{{ tag.title }}</h3>
                <div class="subtitle fl">
                    <span>|</span>
                    <a href="#">鲜芒</a>
                    <a href="#">加州提子</a>
                    <a href="#">亚马逊牛油果</a>
                </div>
                <a href="#" class="goods_more fr" id="fruit_more">查看更多 ></a>
            </div>

            <div class="goods_con clearfix">
                <div class="goods_banner fl"><img src="{{ tag.image.url }}"></div>
                <ul class="goods_list fl">
                    {% for artic in artics2 %}
                        <li>
                            <h4><a href="{% url 'article:detail' artic.pk %}">{{ artic.aname }}</a></h4>
                            <a href="{% url 'article:detail' artic.pk %}"><img src="{{ artic.image.url }}"></a>
                            <div class="prize">{{ artic.gprice }}</div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    {% endfor %}
    {% for tag in tags3 %}
        <div class="list_model">
            <div class="list_title clearfix">
                <h3 class="fl" id="model01">{{ tag.title }}</h3>
                <div class="subtitle fl">
                    <span>|</span>
                    <a href="#">鲜芒</a>
                    <a href="#">加州提子</a>
                    <a href="#">亚马逊牛油果</a>
                </div>
                <a href="#" class="goods_more fr" id="fruit_more">查看更多 ></a>
            </div>

            <div class="goods_con clearfix">
                <div class="goods_banner fl"><img src="{{ tag.image.url }}"></div>
                <ul class="goods_list fl">
                    {% for artic in artics3 %}
                        <li>
                            <h4><a href="{% url 'article:detail' artic.pk %}">{{ artic.aname }}</a></h4>
                            <a href="{% url 'article:detail' artic.pk %}"><img src="{{ artic.image.url }}"></a>
                            <div class="prize">{{ artic.gprice }}</div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    {% endfor %}
    {% for tag in tags4 %}
        <div class="list_model">
            <div class="list_title clearfix">
                <h3 class="fl" id="model01">{{ tag.title }}</h3>
                <div class="subtitle fl">
                    <span>|</span>
                    <a href="#">鲜芒</a>
                    <a href="#">加州提子</a>
                    <a href="#">亚马逊牛油果</a>
                </div>
                <a href="#" class="goods_more fr" id="fruit_more">查看更多 ></a>
            </div>

            <div class="goods_con clearfix">
                <div class="goods_banner fl"><img src="{{ tag.image.url }}"></div>
                <ul class="goods_list fl">
                    {% for artic in artics4 %}
                        <li>
                            <h4><a href="{% url 'article:detail' artic.pk %}">{{ artic.aname }}</a></h4>
                            <a href="{% url 'article:detail' artic.pk %}"><img src="{{ artic.image.url }}"></a>
                            <div class="prize">{{ artic.gprice }}</div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    {% endfor %}
    {% for tag in tags5 %}
        <div class="list_model">
            <div class="list_title clearfix">
                <h3 class="fl" id="model01">{{ tag.title }}</h3>
                <div class="subtitle fl">
                    <span>|</span>
                    <a href="#">鲜芒</a>
                    <a href="#">加州提子</a>
                    <a href="#">亚马逊牛油果</a>
                </div>
                <a href="#" class="goods_more fr" id="fruit_more">查看更多 ></a>
            </div>

            <div class="goods_con clearfix">
                <div class="goods_banner fl"><img src="{{ tag.image.url }}"></div>
                <ul class="goods_list fl">
                    {% for artic in artics5 %}
                        <li>
                            <h4><a href="{% url 'article:detail' artic.pk %}">{{ artic.aname }}</a></h4>
                            <a href="{% url 'article:detail' artic.pk %}"><img src="{{ artic.image.url }}"></a>
                            <div class="prize">{{ artic.gprice }}</div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    {% endfor %}
{% endblock body %}