{% extends 'daydays/arite/base_index.html' %}
{% load static %}

{% block title %}天天生鲜-首页{% endblock title %}

{% block body %}
    <div class="center_con clearfix">
        <ul class="subnav fl">
            <li><a href="#model01" class="fruit">新鲜水果</a></li>
            <li><a href="#model02" class="seafood">海鲜水产</a></li>
            <li><a href="#model03" class="meet">猪牛羊肉</a></li>
            <li><a href="#model04" class="egg">禽类蛋品</a></li>
            <li><a href="#model05" class="vegetables">新鲜蔬菜</a></li>
            <li><a href="#model06" class="ice">速冻食品</a></li>
        </ul>
        <div class="slide fl">
            <ul class="slide_pics">
                <li><img src="{% static 'images/slide.jpg' %}" alt="幻灯片"></li>
                <li><img src="{% static 'images/slide02.jpg' %}" alt="幻灯片"></li>
                <li><img src="{% static 'images/slide03.jpg' %}" alt="幻灯片"></li>
                <li><img src="{% static 'images/slide04.jpg' %}" alt="幻灯片"></li>
            </ul>
            <div class="prev"></div>
            <div class="next"></div>
            <ul class="points"></ul>
        </div>
        <div class="adv fl">
            <a href="#"><img src="{% static 'images/adv01.jpg' %}"></a>
            <a href="#"><img src="{% static 'images/adv02.jpg' %}"></a>
        </div>
    </div>

    <div class="list_model">
        <div class="list_title clearfix">
            <h3 class="fl" id="model01">新鲜水果</h3>
            <div class="subtitle fl">
                <span>|</span>
                <a href="#">鲜芒</a>
                <a href="#">加州提子</a>
                <a href="#">亚马逊牛油果</a>
            </div>
            <a href="#" class="goods_more fr" id="fruit_more">查看更多 ></a>
        </div>

        <div class="goods_con clearfix">
            <div class="goods_banner fl"><img src="{% static 'images/banner01.jpg' %}"></div>
            <ul class="goods_list fl">
                {% for artic in artics %}
                    <li>
                        <h4><a href="{% url 'article:detail' artic.pk %}">{{ artic.aname }}</a></h4>
                        <a href="{% url 'article:detail' artic.pk %}"><img src="{{ artic.image.url }}"></a>
                        <div class="prize">{{ artic.gprice }}</div>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>

{% endblock body %}